build/
cmake-build-*/
out/
.vs/
.vscode/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeSettings.json
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.o
*.a
*.lib
*.exp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.DS_Store
Thumbs.db